asgiref==3.2.3
asn1crypto==1.1.0
astroid==2.3.3
autopep8==1.4.4
cffi==1.13.2
cryptography==2.8
Django==3.0.2
django-autofixture==0.12.1
django-cors-headers==3.2.1
django-email-users==1.1.0
django-filter==2.2.0
django-rest-knox==4.1.0
django-rest-passwordreset==1.0.0
django-restql==0.8.1
djangorestframework==3.11.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==7.0.0
psycopg2-binary==2.8.4
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
pyPEG2==2.15.2
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
typed-ast==1.4.0
wrapt==1.11.2
