asgiref==3.2.3
asn1crypto==1.1.0
astroid==2.3.3
autopep8==1.4.4
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
coalesce==0.3
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.7
Django==2.2.6
django-autofixture==0.12.1
django-cleanup==4.0.0
django-cors-headers==3.1.1
django-email-users==1.1.0
django-filter==2.2.0
django-filters==0.2.1
django-rest-knox==4.1.0
django-rest-passwordreset==1.0.0
django-restql==0.6.0
django2-rest-passwordreset==1.3.1
djangorestframework==3.10.3
idna==2.8
image==1.5.28
isort==4.3.21
itypes==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==7.0.0
psycopg2-binary==2.8.4
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
pyPEG2==2.15.2
pytz==2019.3
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.25.6
wrapt==1.11.2
