<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Sign Up</title>

</head>
<body>
<div class="jumbotron container" style="margin-top: 5%; width: 50%;">
    <div>
        <h1 style="display: flex; flex-direction: column; justify-content: center; text-align: center;"> Sign Up </h1>
        <br>
    </div>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
              {{ error_message }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{ form.password }}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Re-enter Password</label>
            {{ form.password_repeat }}
        </div>
        <div>
        </div>
        <input style='float:right' type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
</body>
</html>
{#<html>#}
{#<head>#}
{#    <title>Signup</title>#}
{##}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{##}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{##}
{#</head>#}
{#<body>#}
{#    <div class="container">#}
{#        <form action="{% url 'signup' %}" method="post">#}
{#            {% csrf_token %}#}
{#            <div class="col-md-8 col-md-offset-2">#}
{#                <div class="panel panel-default">#}
{#                    <div class="panel-heading">Register</div>#}
{#                    <div class="panel-body">#}
{#                        {% if error_message %}#}
{#                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>#}
{#                        {% endif %}#}
{#                        <div class="form-group clearfix">#}
{#                            <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right">First Name:</label>#}
{#                            <div class="col-md-6">#}
{#                                {{ form.first_name }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group clearfix">#}
{#                            <label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-right">Last Name:</label>#}
{#                            <div class="col-md-6">#}
{#                                {{ form.last_name }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group clearfix">#}
{#                            <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username<span class="text-red">*</span>:</label>#}
{#                            <div class="col-md-6">#}
{#                                {{ form.username }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group clearfix">#}
{#                            <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span class="text-red">*</span>:</label>#}
{#                            <div class="col-md-6">#}
{#                                {{ form.email }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group clearfix">#}
{#                            <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password<span class="text-red">*</span>:</label>#}
{#                            <div class="col-md-6">#}
{#                                {{ form.password }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group clearfix">#}
{#                            <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">Confirm password:</label>#}
{#                            <div class="col-md-6">#}
{#                                {{ form.password_repeat }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-6 col-md-offset-4">#}
{#                            <input type="submit" value="Register" class="btn btn-success">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#</body>#}
{#</html>#}