.top-bar {
    padding: 18px 0px 10px 30px;
    background-color: black;
    min-height: 85px;
    width: 100%;
}

.top-bar a {
    text-decoration: none;
    color: white;
    padding-right: 40px;
}

.navigation-links {
    float:  right;
    font-size: 25px;
    padding-top: 4px;
}

.top-bar a:hover {
    color: gray;
    text-decoration: none;
}

.leaflet-container {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    z-index: 1;
}


.add-story-button {
    position: absolute;
    z-index: 1000;
    float: right;
    right: 20px;
    top: 20px;
}

/*.map {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#world-map {*/
/*    position: absolute;*/
/*}*/

.admin-moderator-edit {
    float: right;
}

#world-map {
    width: 100%;
    height: 100%;
}

.delete-story-button {
    width: 100px;
    float: right;
}

.delete-button-div {
    float:right;
}