.top-bar {
    padding: 18px 0px 10px 30px;
    background-color: black;
    min-height: 85px;
    width: 100%;
}

.top-bar a {
    text-decoration: none;
    color: white;
    padding-right: 40px;
}

.navigation-links {
    float:  right;
    font-size: 25px;
    padding-top: 4px;
}

.top-bar a:hover {
    color: gray;
    text-decoration: none;
}
.leaflet-container {
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    margin-top: 88px;
    z-index: 1;
}


.add-story-button {
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 2;
}

/*.map {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#world-map {*/
/*    position: absolute;*/
/*}*/