@import url("~react-leaflet-markercluster/dist/styles.min.css");
@import url("~react-datepicker/dist/react-datepicker.css");
@import url("https://unpkg.com/leaflet-geosearch@2.6.0/assets/css/leaflet.css");

#root {
    height: 100%;
    width: 100%;
}

.top-bar {
    padding: 18px 0px 10px 30px;
    background-color: black;
    min-height: 85px;
    width: 100%;
}

.top-bar a {
    text-decoration: none;
    color: white;
    padding-right: 40px;
}

.navigation-links {
    float: right;
    font-size: 25px;
    padding-top: 4px;
}

.top-bar a:hover {
    color: gray;
    text-decoration: none;
}

.leaflet-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


/* .add-story-button {
    position: absolute;
    z-index: 1000;
    float: right;
    right: 20px;
    top: 20px;
} */

.add-story-button {
    margin-bottom: 10px;
    right: 0px;
}


/*.map {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#world-map {*/
/*    position: absolute;*/
/*}*/

.admin-moderator-edit {
    float: right;
}

#world-map {
    width: 100%;
    height: 100%;
}

.MuiDrawer-paper {
    /*margin-top: 90px;*/
    width: 40%;
}

/*.root {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    overflow: hidden;*/
/*}*/

/*.sidebar {*/
/*    zIndex: 1000;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    transition: transform .3s ease-out;*/
/*    WebkitTransition: -webkit-transform .3s ease-out;*/
/*    willChange: transform;*/
/*    overflowY: auto;*/
/*    width: 30%;*/
/*}*/

/*.content {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    overflowY: auto;*/
/*    WebkitOverflowScrolling: touch;*/
/*    transition: left .3s ease-out, right .3s ease-out;*/
/*    z-index: 1000;*/
/*    width: 35%;*/
/*  }*/

/*.overlay {*/
/*    zIndex: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    !*transition: opacity .3s ease-out, visibility .3s ease-out;*!*/
/*    backgroundColor: rgba(0,0,0,.3);*/
/*}*/

/*.dragHandle {*/
/*    zIndex: 1;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*}*/

#map-dashboard {
    /*height: 100%;*/
    width: 100%;
    position: fixed;
    margin-top: 118px;
    height: calc(100% - 118px); /* only compatible in certain browsers - I believe it's okay for our browser reqs*/
    height: -webkit-calc(100% - 118px); /* google, safari */
    height: -moz-calc(100% - 118px); /* firefox */
}
.main-content-div {
    margin-top: 118px;
    padding: 20px;
}

#sidebar-style {
    /*z-index: 1000;*/
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 100%;
    top: 0;
}

#sidebar2-style {
    /*z-index: 1000;*/
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 100%;
    top: 0;
}

#open-sidebar-button {
    z-index:998;
    position: absolute;
    margin-top: 10px;
    right: 0px;
}

/* fix for bold Tiny MCE text not showing up in some pages */
b, strong {
    font-weight: bold !important; /* make this styling take precedence over bootstrap 'bolder' style */
}

.userway{
    visibility: hidden;
}

.header-nav {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/*.userway-hide {*/
/*    visibility: hidden !important;*/
/*}*/

/*.userway-show {*/
/*    visibility: visible !important;*/
/*}*/

#story-page {
  position: absolute;
  transition: all .75s ease-out;
  background: white;
  height: auto;
  min-height: 100%;
  width: 100%;
  z-index: 2;
  margin-top: 65px;
}
/*#story-container:hover > #story-page {*/
/*  top: 0;*/
/*}*/

#story-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.moveimage
{
    padding-top: 50px;
    width: 80%;
    float: right;
}

.copyright
{
    padding-right: 10px;
    padding-top: 30px;
    width: 80%;
    float: right;
    font-size: 12px;
    color: #98999b;

}

.aboutHeader   
{
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-right: 300px;
    float: left;
    font-size: 64px; /* should use rem or em for responsiveness */
    color: #ffffff;
    /*font: Eina;*/
    font-family: eina, arial !important;
    text-transform: lowercase;
}

.aboutDesc
{
    padding: 40px;
    padding-left: 100px;
    float: right;
    font-size: 20px;
    color: #ffffff;

}

.columnleft {
    width: 60%;
    position: relative;
    float: left;
    width: 50%;
    top: 120px;

    background: rgb(77, 65, 133);

}
  
.columnright {
    width: 40%;
    position: relative;
    float: right;
    width: 50%;
    top: 120px;
    background: rgb(77, 65, 133);

}

.map-container {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .75s ease-out;
}

.column {
    position: relative;
    float: left;
    width: 50%;
    top: 120px;
    margin-left: -10px;
    margin-right: -10px;
    background: rgb(77, 65, 133);
}
  
  /* Clear floats after the columns */
.aboutUs-row {
    background: rgb(77, 65, 133);
    height: auto;
    min-height: 100%;
    width: 100%;
}

.favorite-stories {
    min-height: 100%;
    height: auto;
    background: rgb(77, 65, 133);
    padding-top: 60px !important;
    color: white !important;
}

.user-profile-name {
    color: rgb(77, 65, 133);
}

.default-btn-purple {
    border-radius: 8px !important;
    background: rgb(77, 65, 133) !important;
    color: white;
}

.site-header {
    background-color: black !important;
}

.header-nav-link {
    color: white !important;
}

.header-nav-username {
    color: #e01783;
    padding: .715rem 0.5rem;
    font-weight: 600;
}

.header-nav-anonymous {
    color: #98999b !important;
}

.faq-page-background {
    background: rgb(77, 65, 133) !important;;
    min-height: 100%;
    height: auto;
    width: 100%
}

.faq-question {
    font-family: Eina, Arial !important;
}

.faq-answer {
    font-size: 1.2rem;
}

.add-faq-button {
    float: right;
    border-radius: 8px !important;
}