@import url("~react-leaflet-markercluster/dist/styles.min.css");
@import url("~react-datepicker/dist/react-datepicker.css");
@import url("https://unpkg.com/leaflet-geosearch@2.6.0/assets/css/leaflet.css");
.top-bar {
    padding: 18px 0px 10px 30px;
    background-color: black;
    min-height: 85px;
    width: 100%;
}

.top-bar a {
    text-decoration: none;
    color: white;
    padding-right: 40px;
}

.navigation-links {
    float: right;
    font-size: 25px;
    padding-top: 4px;
}

.top-bar a:hover {
    color: gray;
    text-decoration: none;
}

.leaflet-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


/* .add-story-button {
    position: absolute;
    z-index: 1000;
    float: right;
    right: 20px;
    top: 20px;
} */

.add-story-button {
    margin-bottom: 10px;
    right: 0px;
}


/*.map {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#world-map {*/
/*    position: absolute;*/
/*}*/

.admin-moderator-edit {
    float: right;
}

#world-map {
    width: 100%;
    height: 100%;
}

.MuiDrawer-paper {
    /*margin-top: 90px;*/
    width: 40%;
}

/*.root {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    overflow: hidden;*/
/*}*/

/*.sidebar {*/
/*    zIndex: 1000;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    transition: transform .3s ease-out;*/
/*    WebkitTransition: -webkit-transform .3s ease-out;*/
/*    willChange: transform;*/
/*    overflowY: auto;*/
/*    width: 30%;*/
/*}*/

/*.content {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    overflowY: auto;*/
/*    WebkitOverflowScrolling: touch;*/
/*    transition: left .3s ease-out, right .3s ease-out;*/
/*    z-index: 1000;*/
/*    width: 35%;*/
/*  }*/

/*.overlay {*/
/*    zIndex: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    !*transition: opacity .3s ease-out, visibility .3s ease-out;*!*/
/*    backgroundColor: rgba(0,0,0,.3);*/
/*}*/

/*.dragHandle {*/
/*    zIndex: 1;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*}*/

#map-dashboard {
    position: absolute;
    height: 100%;
    width: 100%;
}

#sidebar-style {
    /*z-index: 1000;*/
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 100%;
    top: 0;
}

#open-sidebar-button {
    z-index:998;
    position: absolute;
    margin-top: 10px;
}

/* fix for bold Tiny MCE text not showing up in some pages */
b, strong {
    font-weight: bold !important; /* make this styling take precedence over bootstrap 'bolder' style */
}

.userway{
    visibility: hidden;
}

/*.userway-hide {*/
/*    visibility: hidden !important;*/
/*}*/

/*.userway-show {*/
/*    visibility: visible !important;*/
/*}*/