<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Free Map</title>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
           integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
           crossorigin=""/>
         <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
               integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
               crossorigin="">
        </script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
        <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
	<script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>

  <script>

      // GET USER'S CURRENT LOCATION
         function getLocation(latitude, longitude) {
            if(latitude && longitude && latitude != -1 && longitude != -1) {
                createMap(latitude, longitude);
            }
            else if (navigator.geolocation) {
                // GET CURRENT LOCATION OR GET REJECTED (GOES TO checkError FUNCTION)
                navigator.geolocation.getCurrentPosition(showPosition, checkError);
            }
            else {
                // IF GEOLOCATION IS NOT SUPPORTED, DISPLAY CSULA
                createMap(34.0667742, -118.1706279);
                alert("Geolocation is not supported by this browser.");
            }
        }

        // IF USER DOES NOT ALLOW ACCESS TO CURRENT LOCATION, DISPLAY CSULA
        function checkError(error) {
            if(error.PERMISSION_DENIED) {
                createMap(34.0667742, -118.1706279);
            }
            else {
                createMap(34.0667742, -118.1706279);
            }
        }

        // GET LONGITUDE AND LATITUDE OF USER'S CURRENT LOCATION AND CREATE MAP
        function showPosition(position) {
            var currentLatitude = position.coords.latitude;
            var currentLongitude = position.coords.longitude;
            createMap(currentLatitude, currentLongitude);
        }
        getLocation({{ latitude }}, {{ longitude }});
        var mymap;
        var mapDefaultZoom = 13;
        function createMap(latitude, longitude) {
            var mapLat = latitude;
            var mapLng = longitude;
            mymap = new ol.Map({
            target: "world-map",
            layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM({
                    url: "https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png"
                })
            })
            ],
            view: new ol.View({
            center: ol.proj.fromLonLat([mapLng, mapLat]),
            zoom: mapDefaultZoom
            })
            });
            displayPins({{ pin_list | safe }});
            mymap.on('click', addMarker);
        }
        function add_map_point(lat, lng, id) {
            var vectorLayer = new ol.layer.Vector({
                    source:new ol.source.Vector({
                        features: [new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.transform([parseFloat(lng), parseFloat(lat)], 'EPSG:4326', 'EPSG:3857')),
                    })]
                }),
                style: new ol.style.Style({
                    image: new ol.style.Icon({
                    {#anchor: [0.5, 0.5],#}
                    anchorXUnits: "fraction",
                    anchorYUnits: "fraction",
                    size : [700, 700],
                    src: '../static/pins/blue_marker.png',
                    scale: 0.075
                    })
                })
            });
            mymap.addLayer(vectorLayer);
            return vectorLayer;
        }

        var vectorlayer;
        // ADDS A PIN TO MAP ON MOUSE CLICK
            function addMarker(e){
                var coords = ol.proj.toLonLat(e.coordinate);
                var lat = coords[1];
                var lon = coords[0];
                    // Add marker to map at click location; add popup window
                    if(vectorlayer != null) {
                        mymap.removeLayer(vectorlayer);
                    }
                    document.getElementById('id_latitude').value = lat;
                    document.getElementById('id_longitude').value = lon;
                    vectorlayer = add_map_point(lat, lon);
            }
        // RECEIVES pin_list FROM PYTHON views.py MODULE
            function displayPins(pin_list) {
                for(var i in pin_list){
                   var id = pin_list[i].pk;
                   var title = pin_list[i].fields.title;
                   var description = pin_list[i].fields.description;
                   var latitude = pin_list[i].fields.latitude;
                   var longitude = pin_list[i].fields.longitude;
                   add_map_point(latitude, longitude, id);
                }
            }

</script>
</head>
<body>
    <div class="jumbotron container-fluid">
        <h1 class="display-4">Click an area on the map to drop a pin!</h1>
        <br>
        <div style ='float: right; width: 25%'>
            <form method="POST" id="addPinForm" action="{% url 'display_map2' %}">
                {% csrf_token %}
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                      {{ error_message }}
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form.title }}
                    <br>
                    {{ form.description }}
                    <br>
                    {{ form.latitude }}
                    {{ form.longitude }}
                    <input type="submit" value="Save" style="float: right" class="btn btn-primary btn-md">

                </div>
            </form>
        </div>
  <div id="world-map" style="width: 73%; height: 73%;"></div>
  </div>
</body>
</html>